{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".ts", ".js"]
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "arrow": true,
        "return": true,
        "declaration": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowTernary": true,
        "allowShortCircuit": true
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "String": false,
          "Boolean": false,
          "Number": false,
          "Symbol": false,
          "{}": false,
          "Object": false,
          "object": false,
          "Function": false
        },
        "extendDefaults": true
      }
    ],
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-shadow": "off",
    "no-template-curly-in-string": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-console": "off",
    "func-names": ["error", "always"],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": ["error"],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "detect"
      // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  }
}
